<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <fieldset>
        <legend>This sure is something</legend>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos aliquam animi perferendis veniam praesentium explicabo maiores vitae, cumque minima optio quas fuga architecto officiis. Aliquam consectetur sequi amet sint exercitationem dolorem et porro ullam, maxime architecto est, vero deserunt corporis, totam obcaecati non ea quis dolore. Quam nisi sed amet natus optio nam aut facilis.</p>
        <a href="/">Back</a>
    </fieldset>
</body>
</html>