<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="~/css/style.css">
</head>
<body>
    <fieldset>
        <legend>This sure is something</legend>
        <h3>
            @DateTime.Now.ToString("MMM dd, yyyy")
            <br>
            @DateTime.Now.ToString("h:mm tt")
        </h3>
        <a href="/">Back</a>
    </fieldset>
</body>
</html>